
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/easyui/demo/demo.css">
    <link rel="stylesheet" href="~/layui-v2.5.4/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
        #container, html, body {
            height: 100%;
            margin: 0;
        }
    </style>

</head>
<body>
    <div id="header" class="flex sb pd-20 bb-lightblue">
        <div>JJLBS-SERVICE</div>
        <div>
            <select id="selectRegion" class="bn">
                <option value="all">内蒙古自治区     /     赤峰市     /     所有区</option>
                <option value="hsq">内蒙古自治区/赤峰市/红山区</option>
                <option value="ybsq">内蒙古自治区/赤峰市/元宝山区</option>
                <option value="ssq">内蒙古自治区/赤峰市/松山区</option>
                <option value="alkexq">内蒙古自治区/赤峰市/阿鲁科尔沁旗</option>
                <option value="blzq">内蒙古自治区/赤峰市/巴林左旗</option>
                <option value="blyq">内蒙古自治区/赤峰市/巴林右旗</option>
                <option value="lxx">内蒙古自治区/赤峰市/林西县</option>
                <option value="ksktq">内蒙古自治区/赤峰市/克什克腾旗</option>
                <option value="wntq">内蒙古自治区/赤峰市/翁牛特旗</option>
                <option value="klxq">内蒙古自治区/赤峰市/喀喇沁旗</option>
                <option value="ncx">内蒙古自治区/赤峰市/宁城县</option>
                <option value="ahq">内蒙古自治区/赤峰市/敖汉旗</option>
            </select>
        </div>

        <div>
            <button type="button" class="layui-btn layui-btn-primary layui-btn-radius">高德地图</button>
            <button type="button" class="layui-btn layui-btn-radius">ARCGIS</button>
        </div>
    </div>

    <div id="footer" class="flex">



    </div>

    <div class="c">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <div id="container"></div>



    @*<script language="javascript" src="~/lib/jquery/dist/jquery.js"></script>*@

    <script type="text/javascript" src="~/easyui/jquery.min.js"></script>


    <script type="text/javascript" src="~/easyui/jquery.easyui.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=3cd18e86c129259575068fdb7f2522e0&plugin=AMap.PolyEditor,AMap.Scale,AMap.ControlBar,Map3D"></script>
    @*<script language="javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=5a757297a2ef60c6c50aa13e4fb8f311&plugin=Map3D,AMap.Scale,AMap.ControlBar,Amap.PolyEditor"></script>*@
    <script src="~/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script language="javascript">

        var form, layer;
        layui.use(['form', 'layedit', 'laydate', 'layer'], function () {
            form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
        });

        var map = new AMap.Map("container", {
            zoom: 17,
            pitch: 50,
            showIndoorMap: false,
            showLabel: true,
            mapStyle: 'amap://styles/light',
            center: [118.950407, 42.273607],
            features: ['bg', 'point', 'road', 'building'],
            viewMode: '3D',
            layers: [
                new AMap.TileLayer({})
            ]
        });
        map.addControl(new AMap.Scale());
        map.addControl(new AMap.ControlBar({
            showZoomBar: false,
            showControlButton: true,
            position: {
                right: '10px',
                top: '10px'
            }
        }));

        function createTables(d, d2) {
            var htmlTable1 = '<table id="dg" style="width:70%;height:300px" data-options="fitColumns:true,rownumbers:false,singleSelect:true,autoRowHeight:false,pagination:true,pageSize:10"><thead><tr><th field="village_name" width="80" align="center">小区名称</th><th field="village_address" width="100" align="center">地址</th><th field="village_region" width="80" align="center">区域</th><th field="village_type" width="80" align="center">类型</th><th field="village_action" width="80" align="center">操作</th><th field="village_id" align="center" hidden="true">village_id</th><th field="village_lng" align="center" hidden="true">经度</th><th field="village_lat" align="center" hidden="true">纬度</th></tr></thead></table>';
            var htmlTB1 = '<div id="tb" class="flex sb aic" style="padding: 10px;"><span class="bb-lightblue pb-5px">小区信息</span><div class="flex aic"><input type="text" placeholder="输入小区名称检索" class="mr-10 pd-5px bd2-lightblue" /><i id="inputSearchIcon" class="fa fa-search cr-lightblue"></i><div class="mr-10"><i class="fa fa-file-o cr-lightblue"></i><span> 新建小区</span></div><div><i class="fa fa-download cr-lightblue"></i><span> 更新本地数据</span></div></div></div>';
            var htmlTable2 = '<table id="dg2" style="width:30%;height:300px" data-options="fitColumns:true,rownumbers:false,singleSelect:true,autoRowHeight:false,pagination:true,pageSize:10"><thead><tr><th field="building_name" width="80" align="center">楼宇号</th><th field="building_address" width="100" align="center">详细地址（蓝牌地址码)</th><th field="building_action" width="80" align="center">操作</th></tr></thead></table>';
            var htmlTB2 = '<div id="tb2" class="flex sb aic" style="padding: 10px;"><span class="bb-lightblue pb-5px">楼宇信息</span><div class="flex aic"><input type="text" placeholder="输入楼宇号检索" class="mr-10 pd-5px bd2-lightblue" /><i id="inputSearchIcon" class="fa fa-search cr-lightblue"></i><div class="mr-10"><i class="fa fa-file-o cr-lightblue"></i><span> 新建楼宇</span></div><div><i class="fa fa-download cr-lightblue"></i><span> 更新本地数据</span></div></div></div>';
            document.getElementById("footer").innerHTML += htmlTable1 + htmlTB1 + htmlTable2 + htmlTB2;

            (function ($) {
                function pagerFilter(data) {
                    if ($.isArray(data)) {	// is array
                        data = {
                            total: data.length,
                            rows: data
                        }
                    }
                    var target = this;
                    var dg = $(target);
                    var state = dg.data('datagrid');
                    var opts = dg.datagrid('options');
                    if (!state.allRows) {
                        state.allRows = (data.rows);
                    }
                    if (!opts.remoteSort && opts.sortName) {
                        var names = opts.sortName.split(',');
                        var orders = opts.sortOrder.split(',');
                        state.allRows.sort(function (r1, r2) {
                            var r = 0;
                            for (var i = 0; i < names.length; i++) {
                                var sn = names[i];
                                var so = orders[i];
                                var col = $(target).datagrid('getColumnOption', sn);
                                var sortFunc = col.sorter || function (a, b) {
                                    return a == b ? 0 : (a > b ? 1 : -1);
                                };
                                r = sortFunc(r1[sn], r2[sn]) * (so == 'asc' ? 1 : -1);
                                if (r != 0) {
                                    return r;
                                }
                            }
                            return r;
                        });
                    }
                    var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);
                    var end = start + parseInt(opts.pageSize);
                    data.rows = state.allRows.slice(start, end);
                    return data;
                }

                var loadDataMethod = $.fn.datagrid.methods.loadData;
                var deleteRowMethod = $.fn.datagrid.methods.deleteRow;
                $.extend($.fn.datagrid.methods, {
                    clientPaging: function (jq) {
                        return jq.each(function () {
                            var dg = $(this);
                            var state = dg.data('datagrid');
                            var opts = state.options;
                            opts.loadFilter = pagerFilter;
                            var onBeforeLoad = opts.onBeforeLoad;
                            opts.onBeforeLoad = function (param) {
                                state.allRows = null;
                                return onBeforeLoad.call(this, param);
                            }
                            var pager = dg.datagrid('getPager');
                            pager.pagination({
                                onSelectPage: function (pageNum, pageSize) {
                                    opts.pageNumber = pageNum;
                                    opts.pageSize = pageSize;
                                    pager.pagination('refresh', {
                                        pageNumber: pageNum,
                                        pageSize: pageSize
                                    });
                                    dg.datagrid('loadData', state.allRows);
                                }
                            });
                            $(this).datagrid('loadData', state.data);
                            if (opts.url) {
                                $(this).datagrid('reload');
                            }
                        });
                    },
                    loadData: function (jq, data) {
                        jq.each(function () {
                            $(this).data('datagrid').allRows = null;
                        });
                        return loadDataMethod.call($.fn.datagrid.methods, jq, data);
                    },
                    deleteRow: function (jq, index) {
                        return jq.each(function () {
                            var row = $(this).datagrid('getRows')[index];
                            deleteRowMethod.call($.fn.datagrid.methods, $(this), index);
                            var state = $(this).data('datagrid');
                            if (state.options.loadFilter == pagerFilter) {
                                for (var i = 0; i < state.allRows.length; i++) {
                                    if (state.allRows[i] == row) {
                                        state.allRows.splice(i, 1);
                                        break;
                                    }
                                }
                                $(this).datagrid('loadData', state.allRows);
                            }
                        });
                    },
                    getAllRows: function (jq) {
                        return jq.data('datagrid').allRows;
                    }
                })
            })(jQuery);

            function getData(dt) {
                return dt;
            }

            $(function () {
                $('#dg').datagrid({ toolbar: "#tb" }).datagrid({ data: getData(d) }).datagrid({
                    onClickRow: function (index, row) {
                        var overlays = map.getAllOverlays("polygon");
                        overlays.forEach(function (overlay) {
                            overlay.setOptions({
                                strokeColor: "#2828FF"
                            });
                        });
                        var string = row["village_action"];
                        var demo = document.createElement('div');
                        demo.innerHTML = string;
                        var lng = Number(demo.children[0].getAttribute("data-lng"));
                        var lat = Number(demo.children[0].getAttribute("data-lat"));
                        var bounds = demo.children[0].getAttribute("data-bounds");
                        map.setCenter([lng, lat]);
                        if (bounds !== "null") {
                            var overlays2 = map.getAllOverlays("polygon");
                            overlays2.forEach(function (overlay) {
                                var bounds2 = "[";
                                overlay.getPath().forEach(function (coord) {
                                    var lng = coord["lng"];
                                    var lat = coord["lat"];
                                    bounds2 += `[${String(lng)},${String(lat)}],`;
                                });
                                bounds2 = bounds2.slice(0, bounds2.length - 1);
                                bounds2 += "]";
                                if (bounds === bounds2) {
                                    overlay.setOptions({
                                        strokeColor: "#D00000"
                                    });
                                }
                            });
                            // get related buildings through api and use json to build table to right and attach events also remove old table to right
                            // extract record location and guid, relocate map to location, remove buildings table from dom,
                            // sned request to api to get related buildings in json string form and use it to build
                            // a new table and bind events to it
                        }
                    }
                }).datagrid('clientPaging').datagrid('highlightRow', 0);
                $('#dg2').datagrid({ toolbar: "#tb2" }).datagrid({ data: getData(d2) }).datagrid('clientPaging');
            });

        }

        function getPoiDetail(e) {
            for (var i = 0; i < document.getElementsByClassName("modalSmall").length; i++) {
                document.getElementsByClassName("modalSmall")[i].remove();
            }
            var dataGuid = e.getAttribute("data-guid");
            $.ajax({
                type: "get",
                url: `./API/DetailsVillage?id=${dataGuid}`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var container = document.createElement('div');
                    container.setAttribute("class", "modalSmall");
                    container.innerHTML += `<div class="flex sb mb-10"><span class="bb-lightblue">小区信息</span><button type="button" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" onclick="closeModal(this);">X</button></div><div class="mb-10"><span class="mr-5 bold">小区名称:</span><span>${data["ds"][0]["VILLAGE_NAME"]}</span></div><div  class="mb-10"><span class="mr-5 bold">详细地址:</span><span>${data["ds"][0]["VILLAGE_ADDRESS"]}</span></div><div  class="mb-10"><span class="mr-5 bold">区域:</span><span>${data["ds"][0]["VILLAGE_REGION"]}</span></div><div  class="mb-10"><span class="mr-5 bold">类型:</span><span>${data["ds"][0]["VILLAGE_TYPE"]}</span></div>`;
                    //htmlPoiDetail = `<div class="modalSmall"><div class="flex"><span>小区信息</span><button>x</button></div><div><span>小区名称</span><span>${data["ds"][0]["VILLAGE_NAME"]}</span></div><div><span>详细地址</span><span>${data["ds"][0]["VILLAGE_ADDRESS"]}</span></div><div><span>区域</span><span>${data["ds"][0]["VILLAGE_REGION"]}</span></div><div><span>类型</span><span>${data["ds"][0]["VILLAGE_TYPE"]}</span></div></div>`;
                    document.getElementsByTagName("body")[0].appendChild(container);
                },
                error: function (item, err) {
                    console.log(err);
                }
            });
        }

        function editPoiNoBounds(e) {
            var errors = document.getElementsByClassName("clRedError");
            for (var i = 0; i < errors.length; i++) {
                errors[i].remove();
            }
            var inputs = e.getElementsByTagName('input');
            var village_name = inputs[0].value;
            var village_address = inputs[1].value;
            var village_region = inputs[2].value;
            var village_type = inputs[3].value;
            var dataGuid = e.getAttribute("data-guid");
            $.ajax({
                type: "post",
                url: `./API/EditVillageNoBounds?id=${dataGuid}`,
                data: { "village_name": village_name, "village_address": village_address, "village_region": village_region, "village_type": village_type },
                dataType: "json",
                success: function (data) {
                    if (data.length !== 0) {
                        var div = document.createElement('div');
                        div.classList.add("clRedError");
                        data.forEach(function (error) {
                            div.innerHTML += `<p class="mb-5">${error}</p>`;
                        })
                        e.appendChild(div);
                    } else {
                        document.getElementsByClassName("modalSmall")[0].remove();
                        layer.msg("小区已编辑");
                    }
                },
                error: function (item, err) {
                    console.log(err);
                }
            });

        }


        function editPoiBounds(e) {
            var errors = document.getElementsByClassName("clRedError");
            for (var i = 0; i < errors.length; i++) {
                errors[i].remove();
            }
            var inputs = e.getElementsByTagName('input');
            var village_name = inputs[0].value;
            var village_address = inputs[1].value;
            var village_region = inputs[2].value;
            var village_type = inputs[3].value;
            var polygon;
            var overlays = map.getAllOverlays("polygon");
            overlays.forEach(function (overlay) {
                if (overlay.getOptions()["strokeColor"] === "#D00000") {
                    polygon = overlay;
                }
            });
            village_bounds = "[";
            polygon.getPath().forEach(function (coord) {
                village_bounds += `[${String(coord["lng"])},${String(coord["lat"])}],`;
            });
            village_bounds = village_bounds.slice(0, village_bounds.length - 1);
            village_bounds += "]";
            var dataGuid = e.getAttribute("data-guid");
           
            $.ajax({
                type: "post",
                url: `./API/EditVillageBounds?id=${dataGuid}`,
                data: { "village_name": village_name, "village_address": village_address, "village_region": village_region, "village_type": village_type, "village_bounds": village_bounds},
                dataType: "json",
                success: function (data) {
                    if (data.length !== 0) {
                        var div = document.createElement('div');
                        div.classList.add("clRedError");
                        data.forEach(function (error) {
                            div.innerHTML += `<p class="mb-5">${error}</p>`;
                        })
                        e.appendChild(div);
                    } else {
                        document.getElementsByClassName("modalSmall")[0].remove();
                        layer.msg("小区已编辑");
                    }

                },
                error: function (item, err) {
                    console.log(err);
                }
            });

        }

        function deletePoiFinal(e) {
            var dataGuid = e.getAttribute("data-guid");
             $.ajax({
                type: "post",
                url: `./API/DeleteVillage?id=${dataGuid}`,
                dataType: "json",
                success: function (data) {
                    if (data.length !== 0) {
                        console.log('error');
                    } else {
                        document.getElementsByClassName("modalSmall")[0].remove();
                        layer.msg("小区已删除");
                    }

                },
                error: function (item, err) {
                    console.log(err);
                }
            });
        }

        //function boundsToggle(e) {
        //    console.log('w');
        //    if (e.checked) {
        //        console.log('checked');
        //    } else {
        //        console.log('unchecked');
        //    }
        //}
        function deletePoi(e) {
            for (var i = 0; i < document.getElementsByClassName("modalSmall").length; i++) {
                document.getElementsByClassName("modalSmall")[i].remove();
            }
            var dataGuid = e.getAttribute("data-guid");
            var container = document.createElement('div');
            container.setAttribute("class", "modalSmall");
            container.classList.add("modalCentered");
            container.innerHTML += `<div class="flex sb mb-10"><span class="bb-lightblue">删除小区</span><button type="button" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" onclick="closeModal(this);">X</button></div>
                <div class="mb-15 tc">确定删除小区?</div><div class="tr"><button type="button" class="layui-btn layui-btn-danger" data-guid=${dataGuid} onclick="deletePoiFinal(this);">删除</button></div></div>`;
            document.getElementsByTagName("body")[0].appendChild(container);
        }

        function editPoi(e) {
            for (var i = 0; i < document.getElementsByClassName("modalSmall").length; i++) {
                document.getElementsByClassName("modalSmall")[i].remove();
            }
            var dataGuid = e.getAttribute("data-guid");
            $.ajax({
                type: "get",
                url: `./API/DetailsVillage?id=${dataGuid}`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data["ds"][0]["VILLAGE_BOUNDS"] == "null") {
                        var container = document.createElement('div');
                        container.setAttribute("class", "modalSmall");
                        container.innerHTML += `<div class="flex sb mb-10"><span class="bb-lightblue">编辑小区信息</span><button type="button" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" onclick="closeModal(this);">X</button></div><form class="layui-form layui-form-pane" action="" onsubmit="event.preventDefault();editPoiNoBounds(this);" data-guid=${dataGuid}>
       <div class="layui-form-item">
        <label class="layui-form-label">小区名称</label>
        <div class="layui-input-inline">
          <input type="text" name="village_name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_NAME"]}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-inline">
          <input type="text" name="village_address" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_ADDRESS"]}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">区域</label>
        <div class="layui-input-inline">
          <input type="text" name="village_region" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_REGION"]}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
          <input type="text" name="village_type" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_TYPE"]}">
        </div>
      </div>
      <!--<div class="layui-form-item">
        <label class="layui-form-label">区域</label>
        <div class="layui-input-block">
          <select name="village_region" lay-filter="aihao">
            <option value="hsq">内蒙古自治区/赤峰市/红山区</option>
            <option value="ybsq">内蒙古自治区/赤峰市/元宝山区</option>
            <option value="ssq">内蒙古自治区/赤峰市/松山区/option>
            <option value="alkexq">内蒙古自治区/赤峰市/阿鲁科尔沁旗</option>
            <option value="blzq">内蒙古自治区/赤峰市/巴林左旗</option>
            <option value="blyq">内蒙古自治区/赤峰市/巴林右旗</option>
            <option value="lxx">内蒙古自治区/赤峰市/林西县</option>
            <option value="ksktq">内蒙古自治区/赤峰市/克什克腾旗</option>
            <option value="wntq">内蒙古自治区/赤峰市/翁牛特旗</option>
            <option value="klxq">内蒙古自治区/赤峰市/喀喇沁旗</option>
            <option value="ahq">内蒙古自治区/赤峰市/敖汉旗</option>
          </select>
        </div>
      </div>
     <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
          <select name="village_type" lay-filter="aihao">
            <option value="zzxq">商务住宅;住宅区;住宅小区</option>
          </select>
        </div>
      </div>-->

<div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal fr" lay-submit="" lay-filter="demo1">保存</button>
        </div>
      </div>
      </div>

</form>`;
                        //htmlPoiDetail = `<div class="modalSmall"><div class="flex"><span>小区信息</span><button>x</button></div><div><span>小区名称</span><span>${data["ds"][0]["VILLAGE_NAME"]}</span></div><div><span>详细地址</span><span>${data["ds"][0]["VILLAGE_ADDRESS"]}</span></div><div><span>区域</span><span>${data["ds"][0]["VILLAGE_REGION"]}</span></div><div><span>类型</span><span>${data["ds"][0]["VILLAGE_TYPE"]}</span></div></div>`;
                        document.getElementsByTagName("body")[0].appendChild(container);
                        form.render();
                    } else {
                        //var polygon;
                        //var overlays = map.getAllOverlays("polygon");
                        //overlays.forEach(function (overlay) {
                        //    var bounds2 = "[";
                        //    overlay.getPath().forEach(function (coord) {
                        //        var lng = coord["lng"];
                        //        var lat = coord["lat"];
                        //        bounds2 += `[${String(lng)},${String(lat)}],`;
                        //    });
                        //    bounds2 = bounds2.slice(0, bounds2.length - 1);
                        //    bounds2 += "]";
                        //    if (data["ds"][0]["VILLAGE_BOUNDS"] === bounds2) {
                        //        polygon = overlay;
                        //    }
                        //});
                        //console.log(polygon);
                        var container = document.createElement('div');
                        container.setAttribute("class", "modalSmall");
                        container.innerHTML += `<div class="flex sb mb-10"><span class="bb-lightblue">编辑小区信息</span><button type="button" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" onclick="closeModal(this);">X</button></div><form class="layui-form layui-form-pane" action="" onsubmit="event.preventDefault();editPoiBounds(this);" data-guid=${dataGuid}>
       <div class="layui-form-item">
        <label class="layui-form-label">小区名称</label>
        <div class="layui-input-inline">
          <input type="text" name="village_name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_NAME"]}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-inline">
          <input type="text" name="village_address" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_ADDRESS"]}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">区域</label>
        <div class="layui-input-inline">
          <input type="text" name="village_region" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_REGION"]}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
          <input type="text" name="village_type" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="${data["ds"][0]["VILLAGE_TYPE"]}">
        </div>
      </div>
       <!--<div class="layui-form-item">
        <label class="layui-form-label">开关-默认关</label>
        <div class="layui-input-block">
          <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF" lay-filter="switch1">
        </div>
      </div>-->

<div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal fr" lay-submit="" lay-filter="demo1">保存</button>
        </div>
      </div>
      </div>

</form>`;
                        //htmlPoiDetail = `<div class="modalSmall"><div class="flex"><span>小区信息</span><button>x</button></div><div><span>小区名称</span><span>${data["ds"][0]["VILLAGE_NAME"]}</span></div><div><span>详细地址</span><span>${data["ds"][0]["VILLAGE_ADDRESS"]}</span></div><div><span>区域</span><span>${data["ds"][0]["VILLAGE_REGION"]}</span></div><div><span>类型</span><span>${data["ds"][0]["VILLAGE_TYPE"]}</span></div></div>`;
                        document.getElementsByTagName("body")[0].appendChild(container);
                        form.render();
                        //form.on('switch(switch1)', function (data) {
                        //    console.log(polygon);
                        //    if (data.elem.checked) {

                        //    } else {
                        //    }

                        //});

                    }
                },
                error: function (item, err) {

                    console.log(err);
                }
            });

        }

        function openPois(e) {
            e.classList.remove("layui-btn-primary");
            e.classList.add("layui-btn-normal");
            e.innerHTML += `<i class="fa fa-check"></i>`;
            e.setAttribute("disabled", true);
            var sibling = e.nextSibling;
            sibling.classList.remove("layui-btn-normal");
            sibling.classList.add("layui-btn-primary");
            sibling.innerHTML = `否`;
            sibling.removeAttribute("disabled");
            var overlays = map.getAllOverlays("polygon");
            console.log(overlays);
            overlays.forEach(function (overlay) {
                overlay.show();
            });
        }

        function closePois(e) {
            e.classList.remove("layui-btn-primary");
            e.classList.add("layui-btn-normal");
            e.innerHTML += `<i class="fa fa-check"></i>`;
            e.setAttribute("disabled", true);
            var sibling = e.previousSibling;
            sibling.classList.remove("layui-btn-normal");
            sibling.classList.add("layui-btn-primary");
            sibling.innerHTML = `是`;
            sibling.removeAttribute("disabled");
            var overlays = map.getAllOverlays("polygon");
            console.log(overlays);
            overlays.forEach(function (overlay) {
                overlay.hide();
            });

        }

        function closeModal(e) {
            e.parentElement.parentElement.remove();
            //$.ajax({
            //    type: "get",
            //    url: `./API/DetailsVillage?id=${dataGuid}`,
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (data) {
            //        var container = document.createElement('div');
            //        container.setAttribute("class", "modalSmall");
            //        container.innerHTML += `<div class="flex sb mb-10"><span class="bb-lightblue">小区信息</span><button type="button" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" onclick="closeModal(this);">X</button></div><div class="mb-10"><span class="mr-5 bold">小区名称:</span><span>${data["ds"][0]["VILLAGE_NAME"]}</span></div><div  class="mb-10"><span class="mr-5 bold">详细地址:</span><span>${data["ds"][0]["VILLAGE_ADDRESS"]}</span></div><div  class="mb-10"><span class="mr-5 bold">区域:</span><span>${data["ds"][0]["VILLAGE_REGION"]}</span></div><div  class="mb-10"><span class="mr-5 bold">类型:</span><span>${data["ds"][0]["VILLAGE_TYPE"]}</span></div>`;
            //        //htmlPoiDetail = `<div class="modalSmall"><div class="flex"><span>小区信息</span><button>x</button></div><div><span>小区名称</span><span>${data["ds"][0]["VILLAGE_NAME"]}</span></div><div><span>详细地址</span><span>${data["ds"][0]["VILLAGE_ADDRESS"]}</span></div><div><span>区域</span><span>${data["ds"][0]["VILLAGE_REGION"]}</span></div><div><span>类型</span><span>${data["ds"][0]["VILLAGE_TYPE"]}</span></div></div>`;
            //        document.getElementsByTagName("body")[0].appendChild(container);
            //    },
            //    error: function (item, err) {
            //        console.log(err);
            //    }
            //});
        }

        /* 地图/数据 */
        $.ajax({
            type: "get",
            url: "./API/Index?type=all",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                /* 边界 */
                var xq = data[0]["ds"];
                var l = data[1]["ds"];
                var rowsXQ = [];
                var rowsL = [];
                xq.forEach(function (XQ) {
                    if (XQ["VILLAGE_BOUNDS"] !== "null") {
                        var polygon = new AMap.Polygon({
                            strokeColor: "#2828FF",
                            fillOpacity: 0,
                            bubble: true,
                            strokeWeight: 1,
                            path: JSON.parse(XQ["VILLAGE_BOUNDS"]),
                            map: map
                        });

                        var polylineEditor = new AMap.PolyEditor(map, polygon);
                        polygon.on('dblclick', function () { polylineEditor.open(); });
                        polygon.on('rightclick', function () { polylineEditor.close(); });
                        polygon.on('click', function () {
                            console.log(polygon.getPath());
                        });

                    }
                    rowsXQ.push({ village_name: XQ["VILLAGE_NAME"], village_address: XQ["VILLAGE_ADDRESS"], village_region: XQ["VILLAGE_REGION"], village_type: XQ["VILLAGE_TYPE"], village_action: `<i class="fa fa-eye mr-5" data-lng="${XQ["VILLAGE_LNG"]}" data-lat="${XQ["VILLAGE_LAT"]}" data-bounds="${XQ["VILLAGE_BOUNDS"]}" data-guid="${XQ["VILLAGE_ID"]}" onclick="getPoiDetail(this);"></i><i class="fa fa-edit mr-5" data-guid="${XQ["VILLAGE_ID"]}" onclick="editPoi(this);"></i><i class="fa fa-trash-o" data-guid="${XQ["VILLAGE_ID"]}" onclick="deletePoi(this);"></i>`, village_lng: XQ["VILLAGE_LNG"], village_lat: XQ["VILLAGE_LAT"] });

                });
                var container = document.createElement('div');
                container.setAttribute("id", "buttonOpenClose");
                container.innerHTML += `<span class="bb-lightblue pb-5px mr-20">是否显示小区边界</span><button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm" onclick="openPois(this);" disabled>是 <i class="fa fa-check"></i></button><button type="button" class="layui-btn layui-btn-primary layui-btn-radius layui-btn-sm" onclick="closePois(this);">否</button>`;
                document.getElementsByTagName("body")[0].appendChild(container);

                l.forEach(function (L) {
                    rowsL.push({ building_name: L["BUILDING_NAME"], building_address: L["BUILDING_ADDRESS"], building_action: "<i class=\"fa fa-eye mr-5 \"></i><i class=\"fa fa-edit mr-5 \"></i><i class=\"fa fa-trash-o \"></i>" });
                });
                createTables(rowsXQ, rowsL);
            },
            error: function (item, err) {
                console.log(err);
            }
        });
    </script>


</body>
</html>
